<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="{{ path('homepage') }}" target="_blank">
            <i class="fa fa-home fa-lg text-success"></i> Homepage
        </a>
    </li>
    <li class="dropdown navbar-user">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
            <img src="assets/img/user-13.jpg" alt="" />
            <span class="hidden-xs">{{ app.user.username }}</span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu animated fadeInLeft">
            <li class="arrow"></li>
            {#<li><a href="javascript:;">Edit Profile</a></li>#}
            {#<li><a href="javascript:;"><span class="badge badge-danger pull-right">2</span> Inbox</a></li>#}
            {#<li><a href="javascript:;">Calendar</a></li>#}
            {#<li><a href="javascript:;">Setting</a></li>#}
            {#<li class="divider"></li>#}
            <li><a href="{{ path('logout') }}">Log Out</a></li>
        </ul>
    </li>
</ul>