.navbar-brand {
    width: auto;
}

.sidebar .nav > li > a .badge {
    font-weight: inherit;
}

.sidebar .nav > li > a .badge-default {
    background: #b6c2c9;
}

.sidebar .nav > li > a .badge-danger {
    background: #ff5b57;
}

.sidebar .nav > li > a .badge-warning {
    background: #f59c1a;
}

.sidebar .nav > li > a .badge-success {
    background: #00acac;
}

.sidebar .nav > li > a .badge-info {
    background: #49b6d6;
}

.sidebar .nav > li > a .badge-primary {
    background: #b6c2c9;
}

.sidebar .nav > li > a .badge-inverse {
    background: #2d353c;
}

.sidebar .nav > li > hr {
    width: 80%;
    margin: 10px auto;
    border-color: #a8acb1;
}

.content.nomenu {
    margin-left: auto;
}

.content.nopadding {
    padding: 0;
}

.box {
    border-radius: 0;
    border: none;
    position: static;
    background: inherit;
    box-shadow: none;
    width: auto;
}

.color-admin .input-group-addon {
    background:  #e2e7eb;
    border-radius: 0 4px 4px 0;
}